<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Votre agence ABAT fera respecter l'ordre grâce à des agents reconnus pour leur grande efficacité ">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}L'agence Abat ANTI CRIMINALITÉ{% endblock %}</title>

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="assets/css/style.css" rel="stylesheet">


        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
    {% endblock %}

    <!-- Bootstrap core CSS -->


    <style>
        .bd-placeholder-img {
            font-size: 1rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /*css commun */
        @import "~bootstrap/scss/bootstrap";

        h1{
            color: red;
            text-align: center;
        }
        button {
            background-color: black;
            color: red;
            border: none;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            border-radius: 15px;
            box-shadow: black ;
            transition:  0.3s;
            margin-top: 15px;
        }

        button:hover{
            background-color: red;
            color: black;

        }
        li{
            list-style: none;
        }
        a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover{
            font-size: 1.2em;
            color: black;
        }
        /*navbar */
        .logo-img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: white;
            padding: 5px;
        }
        .navBar{
            padding: 0.8rem;
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(245,0,0,1) 100%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5em;

        }
        .navbar-toggler{
            background-color: white;
            color: red;
        }

        .nav-link{
            color: #c2baba;
            transition: all 0.3s;
        }
        .nav-link:hover{
            color: white;
            font-size: 1.5em;
        }

        /*page acceuil Header */

        .logo {
            width: 50vw;
            height: 80vh;
        }

        .titre-ppal{
            font-size: 3.5em;
        }
        /*section missiosn */

        .img-card{
            height: 200px;
            width: 200px;
        }

        .card{
            border: solid 2px red;
            border-radius: 10px;
        }

        .recherche{
            margin-left: 50%;
            transform: translateX(-50%);
            margin-bottom: 1.5em;
            width: 70vw;
            border: 1px solid red;
        }

        /*connexion*/
        .form-connexion{
            border: 2px solid red;
            width: 50vh;
            padding: 1.5rem;
        }

        /*formulaire*/
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid  red;
            margin: 2em;
            padding: 2em;

        }

        .container-card{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container-ppal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        label{
            margin: 10px;
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navBar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="{{ path('home') }}"><img class="logo-img" src="assets/images/header.svg"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('missions') }}">Missions</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('missions') }}">Les missions</a></li>
                            <li><a class="dropdown-item" href="{{ path('agent') }}">Les agents</a></li>
                            <li><a class="dropdown-item" href="{{ path('contact') }}">Les contacts</a></li>
                            <li><a class="dropdown-item" href="{{ path('cible') }}">Les cibles</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Spécialité
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('planque') }}">Les planques</a></li>
                            <li><a class="dropdown-item" href="{{ path('specialite') }}">Les spécialités</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="nav-co">
                    {% if app.user %}
                        <a href="{{ path('account') }}">Mon compte <small>({{ app.user.firstname }})</small></a> | <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
   {% block body %}
   {% endblock %}
    </div>

</header>
<footer>
    <!-- FOOTER -->
    <footer class="footer-custom bg-dark text-light p-1 m-t-2">
        <p class="text-center"><a href="#" class="text-light text-decoration-none">haut de la page</a></p>
        <p class="text-center">&copy; Delphine Gavaud</p>
        <p class="text-center"><a href="#" >Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
